/*
	NOV 2019
	DEEP BLUE THEME
	@serguun42
 */

@import url("osnova_colored_base.css");

:root {
	--tc1: #14131d;
	--tc2: #221f30;
	--tc3: #1017311a;
	--tc4: #29263B;
	--tc5: #34314b;
	--tc6: #433e72;
	--tc7: #8598ad;
	--tc8: #f3eff3;
	--tc9: #f4f4f6;
	--tc10: #f7f7f8;
	--tc11: #907990;
	--tc12: rgba(26, 22, 48, 0.3);
	--tc13: rgba(131, 120, 221, 0.3);
	--tc14: rgba(67, 62, 114, 0.25);
	--tc15: rgba(34, 31, 48, 0.8);
	--tc16: rgba(16, 23, 49, .1);
	--tc17: rgba(52, 49, 75, 0.95);
}
