/**
 * Turn Favourites Icon into Red Color
 * @serguun42
 * Nov 2020
 */

.favorite_marker--active .favorite_marker__count {
	color: #e84755;
}

.favorite_marker--active .icon {
	fill: #e84755;
}

.favorite_marker--active .favorite_marker__title {
	color: #e84755;
}

.favorite_marker:hover:not(.favorite_marker--just_clicked) .favorite_marker__count, .favorite_marker:hover:not(.favorite_marker--just_clicked) .favorite_marker__title {
	color: #e84755;
}

.favorite_marker:hover:not(.favorite_marker--just_clicked) .icon {
	fill: #e84755;
}
