/**
 * Material Theme
 * @serguun42
 */

:root {
	--br: 10px;
}

.head-notifies__panel {
	border-radius: var(--br);
}

.widget_wrapper--type-yellow,
.widget_wrapper--type-pink,
.widget_wrapper--type-red,
.widget_wrapper--type-best_comments,
.widget_wrapper--type-popular_3_entries,
.widget_wrapper--type-top_commented_entries,
.widget_wrapper--type-blue {
	transition: box-shadow 300ms ease-in-out 0s;
	border-radius: var(--br);
	box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
}

.widget_wrapper--type-yellow:hover,
.widget_wrapper--type-pink:hover,
.widget_wrapper--type-red:hover,
.widget_wrapper--type-best_comments:hover,
.widget_wrapper--type-popular_3_entries:hover,
.widget_wrapper--type-top_commented_entries:hover,
.widget_wrapper--type-blue:hover {
	box-shadow: 0 5px 10px 2px var(--material-theme-shadow-color);
}

.comments_form, .comments_pseudo_form, .comments_form__textarea-holder {
	border-radius: var(--br);
}

.subsite_head {
	margin-top: 16px;
	border-radius: var(--br) var(--br) 0 0;
}

.subsite__cover, .custom_subsite_html {
	margin-top: 64px;
	border-radius: var(--br) var(--br) 0 0;
	overflow: hidden;
}

.subsite__cover + .subsite_head, .custom_subsite_html + .subsite_head {
	margin-top: unset;
	border-radius: 0;
	overflow: unset;
}

.live__scrollable_parent {
	width: calc(100% + 20px) !important;
}

.live__scrollable {
    height: calc(100% - 50px) !important;
	width: 100%;
}

.live:not(:empty):after {
	display: none;
	visibility: hidden;
	opacity: 0;
}

.live__item--comment {
	margin-right: 20px;
}

.andropov_image--bordered, .andropov_preview, .comments__item__more__avatar, .editor__select .user-option img, .editor__select-picture-wrap img, .live__item--comment .live__item__user__image, .notification__image img, .page--subsite .subsite__user__avatar img, .profile_comment_favorite__header img, .subsite_card_short__avatar img, .subsite_card_simple__avatar img, .subsite_card_simple_short__avatar img, .subsite_widget__item__avatar img, .t-outline {
	outline: none;
	outline-offset: 0;
}

.vacancies_widget {
	border-radius: var(--br);
	box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
}

.widget_wrapper--type-yellow, .widget_wrapper--type-pink, .widget_wrapper--type-red {
	border-radius: var(--br);
	box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
}

.form-picture:hover::before {
	border-radius: 50%;
}

@media (max-width: 1024px) and (min-width: 680px) {
	.page--index .mobile_hashtags .ui_tabs {
		border-radius: var(--br);
		box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
	}

	.mobile_hashtags {
		overflow: hidden;
		border-radius: var(--br);
	}
}

@media (min-width: 680px) {
	.subsite__sidebar, .news_widget, .main_footer, .subsites_catalog, .small-editor, .subsite__settings {
		border-radius: var(--br);
		overflow: hidden;
		box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
	}

	.page--subsite .subsite__user {
		border-radius: var(--br) var(--br) 0 0;
	}

	.page--subsite .subsite__user__avatar {
		border-radius: 50%;
		overflow: hidden;
		box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
	}

	.form-picture::before {
		border-radius: 50%;
	}

	.small-editor {
		background: none;
		border-radius: var(--br);
	}

	.small-editor__placeholder {
		border-radius: var(--br);
	}

	.small-editor__form {
		border-radius: var(--br);
	}

	.island:after, .island:before {
		width: 100%;
		left: 0;
	}
	
	.island {
		border-radius: 0 0 var(--br) var(--br);
	}

	.island:first-of-type {
		border-radius: var(--br);
	}

	.entry_wrapper {
		overflow: hidden;
		border-radius: var(--br);
		box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
		margin-bottom: 16px;
	}

	.l-wide_container.l-wide_container--white, .club_widgets__col {
		border-radius: var(--br);
		box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
	}

	.feed__item .subsite_card_short {
		border-radius: var(--br);
		margin-bottom: 16px;
		box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
	}

	.daily-promo-unit {
		border-radius: var(--br);
		box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
	}

	.yamy-teaser {
		border-radius: var(--br);
		box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
		overflow: hidden;
	}

	.page--search .search_results__header {
		border-radius: var(--br);
		box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
		margin-bottom: 16px;
	}

	.new_entries {
		border-radius: var(--br);
		box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
	}

	[air-module="module.special_stories"] {
		box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
		border-radius: var(--br);
		overflow: hidden;
		margin-bottom: 16px;
	}

	[air-module="module.special_stories"] .widget {
		margin: 0 !important;
	}

	.events_widget {
		box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
		border-radius: var(--br);
		overflow: hidden;
	}

	[air-module="module.subsites_rating"] {
		box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
		border-radius: var(--br);
		transition: box-shadow 300ms ease-in-out 0s;
	}

	[air-module="module.subsites_rating"]:hover {
		box-shadow: 0 5px 10px 2px var(--material-theme-shadow-color);
	}
}

@media (min-width: 1025px) {
	.ui-feed-header {
		border-radius: var(--br);
		margin-bottom: 16px;
		box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
	}

	.club_widgets {
		border-radius: var(--br);
		box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
		overflow: hidden;
	}

	.club_widgets__col {
		border-radius: 0;
		box-shadow: none;
	}

	.page--subsite .subsite__header {
		margin-bottom: 20px;
		border-bottom: none;
		border: none;
	}

	.subsite__sidebar, .news_widget, .main_footer, .subsites_catalog {
		border-radius: none;
	}

	.subsite__sidebar .subsite__user, .subsite__sidebar .ui_navigation, .subsite__sidebar .island {
		border-radius: var(--br);
		box-shadow: 0 4px 4px 0 var(--material-theme-shadow-color);
		margin-bottom: 20px;
		overflow: hidden;
	}

	.subsite__sidebar .ui_navigation__item:after, .subsite__sidebar .ui_navigation__item:before {
		width: 100%;
		left: 0;
	}
}

.vote--comment .vote__users,
.vote--content .vote__users  {
	border-radius: 5px;
}

.main_menu {
	box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
}

.creation_button__subitems {
	box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
}

.sticky_sidebar {
	width: 320px;
}

.sticky_sidebar__container {
	width: 320px;
}

.sticky_sidebar__item {
	display: block;
	width: 300px;
	margin: 0 auto 15px;
	border-radius: var(--br);
	box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
}

.sticky_sidebar__item .island:only-child {
	border-radius: var(--br);
}

.l-float-right .island:only-child, .ui_tabs__tab--logout .island:only-child {
	border-radius: var(--br);
	box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
}

.subsite_subscribe_button {
	user-select: none;
}

.l-wide_container .propaganda {
	display: none;
	visibility: hidden;
}

.ui_tabs > .ui_tabs__tab, .comments__title {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 15px;
	text-transform: uppercase;
}

.page--subsite .subsite__cover__crop {
	display: block;
	position: fixed;
	width: 100%;
	top: 0!important;
	left: 0;
	overflow-y: hidden;
	overflow-x: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	height: 100vh;
}

.page--subsite .subsite__cover__crop::after {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	background: linear-gradient(0deg, rgba(18,18,18,1) 0%, rgba(18,18,18,1) 25%, rgba(18,18,18,1) 50%, rgba(18,18,18,1) 80%, rgba(18,18,18,0) 100%);
	width: 100vw;
	top: 200px;
	height: 100vh;
}

.page--subsite .subsite__cover__crop img {
	top: 0!important;
}

.ui-tabs--overflown:after {
	background-image: linear-gradient(90deg, rgba(51, 51, 51, 0) 0%, var(--material-theme-gradient-color) 40%);
}

.ui-tabs--overflown:before {
	background-image: linear-gradient(-90deg, rgba(51, 51, 51, 0) 0%, var(--material-theme-gradient-color) 40%);
}

.ui-tabs--small.ui-tabs--overflown:before {
    left: 0;
    background-image: linear-gradient(-90deg,rgba(0,0,0,0) 0%, var(--material-theme-gradient-color) 40%);
}

.ui-tabs--small.ui-tabs--overflown:after {
    right: 0;
    background-image: linear-gradient(90deg,rgba(0,0,0,0) 0%,var(--material-theme-gradient-color) 40%);
}

.ui-tabs--has-next:after, .ui-tabs--has-prev:before {
	overflow: hidden;
	border-radius: var(--br);
}

#page_wrapper > .ui-tabs {
	border-radius: 0 0 var(--br) var(--br);
	box-shadow: 0 3px 3px 0 var(--material-theme-shadow-color);
}

.ui-tabs--has-next:after, .ui-tabs--has-prev:before {
	overflow: hidden;
	border-radius: var(--br);
}

.subsite_about, .subsite_settings, .hashtag_head {
	border-radius: var(--br);
	box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
}

.content-feed[air-module="module.entry"],
.entry_stub {
	transition: box-shadow 300ms ease-in-out 0s;
	border-radius: var(--br) !important;
	box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
}

.content-feed[air-module="module.entry"]:hover,
.entry_stub:hover {
	box-shadow: 0 5px 15px 0 var(--material-theme-shadow-color);
}

.content-header-note {
	background-color: transparent;
}

.feed_header {
	border-radius: var(--br) var(--br) 0 0;
}

.feed_header + .feed .feed__chunk:first-of-type .feed__item:first-of-type > .content-feed[air-module="module.entry"] {
	position: relative;
}

.feed_header + .feed .feed__chunk:first-of-type .feed__item:first-of-type > .content-feed[air-module="module.entry"]:before {
	display: block;
	position: relative;
	content: '';
	height: 36px;
	width: 100%;
	margin-top: -36px;
	left: 0;
}

.feed_header:hover + .feed .feed__chunk:first-of-type .feed__item:first-of-type > .content-feed[air-module="module.entry"] {
	box-shadow: 0 5px 10px 2px var(--material-theme-shadow-color);
}

.audio_player__control__rate {
	border-radius: var(--br);
}

.audio_player__control__fwd:hover, .audio_player__control__mute:hover, .audio_player__control__pause:hover, .audio_player__control__play:hover, .audio_player__control__rwd:hover, .audio_player__control__volume:hover {
	color: var(--primary-color);
}

.audio_player__control--download {
	border-radius: var(--br);
}

.editor__dropdown {
	border-radius: var(--br);
	overflow: hidden;	
}

.miniEditor__dummy, .miniEditor__main, .miniEditor, .mini-editor {
	border-radius: var(--br);
	transition: box-shadow 300ms ease-in-out 0s;
	box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
}

.miniEditor__dummy:hover, .miniEditor__dummy:hover, .mini-editor:hover {
	box-shadow: 0 5px 10px 2px var(--material-theme-shadow-color);
}

.page.page--editor .header .tab__content,
.editor .editor-cp-tab__content {
	border-radius: var(--br);
	transition: box-shadow 300ms ease-in-out 0s;
}

.restriction.layout--bg,
.restriction.l-island-bg  {
	transition: box-shadow 300ms ease-in-out 0s;
	border-radius: var(--br);
	box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
}

.restriction.layout--bg:hover,
.restriction.l-island-bg:hover {
	box-shadow: 0 5px 10px 2px var(--material-theme-shadow-color);
}

.plus-features {
	transition: box-shadow 300ms ease-in-out 0s;
	border-radius: var(--br);
	box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
}

.plus-features:hover {
	box-shadow: 0 5px 10px 2px var(--material-theme-shadow-color);
}

.layout--bg[air-module="module.notifiesList"],
[air-module="module.donatesCabinet"] .layout--bg,
.l-island-bg[air-module="module.notifiesList"],
[air-module="module.donatesCabinet"] .l-island-bg {
	transition: box-shadow 300ms ease-in-out 0s;
	border-radius: var(--br) !important;
	box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
}

.layout--bg[air-module="module.notifiesList"]:hover,
[air-module="module.donatesCabinet"] .layout--bg:hover,
.l-island-bg[air-module="module.notifiesList"]:hover,
[air-module="module.donatesCabinet"] .l-island-bg:hover {
	box-shadow: 0 5px 10px 2px var(--material-theme-shadow-color);
}

.messenger-panel__down {
	border-radius: var(--br);
	box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
}

.chat-form {
	box-shadow: 0 0 5px 0 var(--material-theme-shadow-color);	
}

.captcha_wall__box,
.ui_modal_window {
	border-radius: var(--br);
}

.entry_flash {
	transition: box-shadow 300ms ease-in-out 0s;
	border-radius: var(--br);
	box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
}

.entry_flash:hover {
	box-shadow: 0 5px 10px 2px var(--material-theme-shadow-color);
}

.form2__field.form2__field--image {
	overflow: hidden;
	border-radius: var(--br);
}

.subsite_settings__head {
	background-color: transparent;
}

.subsite_settings__form .form2__field--text .text,
.subsite_settings__form .form2__field--advanced_list .text__input,
.subsite_settings__form .form2__field--text .text input,
.subsite_settings__form .form2__inline-editor,
.subsite_settings__form .advanced_list__list {
	border-radius: var(--br);
}

#rocket-bank-summary {
	box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
	border-radius: var(--br);
	overflow: hidden;
	transition: box-shadow 300ms ease-in-out 0s;
}

#rocket-bank-summary:hover {
	box-shadow: 0 5px 10px 2px var(--material-theme-shadow-color);
}

.island.island--blogs_entries {
	transition: box-shadow 300ms ease-in-out 0s;
	border-radius: var(--br);
	box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
}

.island.island--blogs_entries:hover {
	box-shadow: 0 5px 10px 2px var(--material-theme-shadow-color);
}

.authorCard {
	border-radius: calc(var(--br) / 2);
}

.igrozhur-teaser {
	transition: box-shadow 300ms ease-in-out 0s;
	border-radius: var(--br);
	box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
}

.igrozhur-teaser:hover {
	box-shadow: 0 5px 10px 2px var(--material-theme-shadow-color);
}




.email_subscribe[air-module="module.email_subscribe"] {
	transition: box-shadow 300ms ease-in-out 0s;
	border-radius: var(--br);
	box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
}

.email_subscribe[air-module="module.email_subscribe"]:hover {
	box-shadow: 0 5px 10px 2px var(--material-theme-shadow-color);
}

.comments__item__space--with-donate {
	transition: box-shadow 300ms ease-in-out 0s;
	border-radius: var(--br);
	box-shadow: 0 3px 5px 0 var(--material-theme-shadow-color);
}

.comments__item__space--with-donate:hover {
	box-shadow: 0 5px 10px 2px var(--material-theme-shadow-color);
}

.v-list-tab {
	border-radius: var(--br);
}

[module="module.comments_admin"] + .feed .profile_comment_favorite,
[module="module.comments_admin"] + .feed .profile_comment_self {
	transition: box-shadow 300ms ease-in-out 0s;
	border-radius: var(--br);
	box-shadow: 0 1px 3px 0 var(--material-theme-shadow-color);
}

[module="module.comments_admin"] + .feed .profile_comment_favorite:hover,
[module="module.comments_admin"] + .feed .profile_comment_self:hover {
	box-shadow: 0 2px 6px 1px var(--material-theme-shadow-color);
}

.content-stats {
	margin-bottom: 24px;

	border-radius: 0 0 var(--br) var(--br);
	border-left: 1px solid rgba(200, 200, 126, 0.167);
	border-right: 1px solid rgba(200, 200, 126, 0.167);
	border-bottom: 1px solid rgba(200, 200, 126, 0.167);
}

.content-stats ~ .l-entry.l-island-round {
	border-top-left-radius: var(--br) !important;
	border-top-right-radius: var(--br) !important;
}





.commercial-list__item {
	border-radius: var(--br);
}




.search_header {
	margin-bottom: calc(3 * var(--br));

	transition: box-shadow 300ms ease-in-out 0s;
	border-radius: var(--br);
	box-shadow: 0 1px 3px 0 var(--material-theme-shadow-color);
}

.search_header:hover,
.search_header:focus {
	box-shadow: 0 2px 6px 1px var(--material-theme-shadow-color);
}

.search_results__dummy {
	transition: box-shadow 300ms ease-in-out 0s;
	border-radius: var(--br);
	box-shadow: 0 1px 3px 0 var(--material-theme-shadow-color);
}

.search_results__dummy:hover,
.search_results__dummy:focus {
	box-shadow: 0 2px 6px 1px var(--material-theme-shadow-color);
}

.l-page__content .ui-tabs.ui-tabs--small,
.ui-tabs.l-island-round+.subsite_content_dummy.l-island-round, .ui-tabs.l-island-round~.feed .feed__chunk:first-child .feed__item.l-island-round:first-child, .ui-tabs.l-island-round~.feed .feed__chunk:first-child .feed__item:first-child .l-island-round {
	border-radius: var(--br) !important;
}

.ui-tabs.ui-tabs--small ~ .feed {
	margin-top: calc(3 * var(--br));
}




.company_card {
	border-radius: var(--br);
}
