/*
	JAN 2020
	COVFEFE   THEME
	@serguun42
 */

:root {
	--tc1: #1D1313;
	--tc2: #301F1F;
	--tc3: #3117101a;
	--tc4: #3B2626;
	--tc5: #4B3131;
	--tc6: #723E3E;
	--tc7: #ad8585;
	--tc8: #f3eff3;
	--tc9: #f6f4f4;
	--tc10: #f8f7f7;
	--tc11: #907990;
	--tc12: rgba(48, 22, 22, 0.3);
	--tc13: rgba(221, 120, 120, 0.3);
	--tc14: rgba(114, 62, 62, 0.25);
	--tc15: rgba(48, 31, 31, 0.8);
	--tc16: rgba(49, 23, 16, .1);
	--tc17: rgba(75, 49, 49, 0.95);
}

:root {
	--material-theme-gradient-color: var(--tc4);
	--current-theme-gradient-color-huge-tabs: var(--tc4);
	--current-theme-gradient-color-small-tabs: var(--tc4);
	--current-theme-gradient-color-v-tabs: var(--tc1);
	--material-theme-shadow-color: var(--tc12);
	--switcher-layout-background: var(--tc4);
	--switcher-layout-text: #e1e1e1;
}

:root {
	--current-gay-theme-entry-background: var(--tc17);
}

body, .main.layout, .sidebar, .live {
	color: #DDD;
	background-color: var(--tc1) !important;
}

body:not(.s42-default-scrollers),
body:not(.s42-default-scrollers) * {
	scrollbar-color: var(--primary-color) var(--tc1);
	scrollbar-width: thin;
}

body:not(.s42-default-scrollers)::-webkit-scrollbar-track,
body:not(.s42-default-scrollers) *::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0) !important;
	background-color: var(--tc1) !important;
}

body:not(.s42-default-scrollers)::-webkit-scrollbar,
body:not(.s42-default-scrollers) *::-webkit-scrollbar {
	width: 12px !important;
	height: 12px !important;
	background-color: var(--tc1) !important;
}

body:not(.s42-default-scrollers)::-webkit-scrollbar-thumb,
body:not(.s42-default-scrollers) *::-webkit-scrollbar-thumb {
	background-color: var(--primary-color) !important;
	border-radius: var(--br) 0 0 var(--br) !important;
}

.main_menu, .live_head {
	background-color: var(--tc2) !important;
}

.subsite_head, #page_wrapper>.ui-tabs, .miniEditor__dummy, .miniEditor__main, .content-feed[air-module="module.entry"], .new_entries, .news_widget, .entry_flash, .entry_stub {
	background-color: var(--tc4) !important;
}

.layout--entry {
	border-radius: 0 0 var(--br) var(--br);
}

.layout--entry~.layout--bg,
.layout--entry~.l-island-bg {
	border-radius: var(--br);
}

.subsite_about, .subsite_settings, .hashtag_head {
	background-color: var(--tc4) !important;
}

.layout--bg[air-module="module.notifiesList"],
[air-module="module.donatesCabinet"] .layout--bg,
.l-island-bg[air-module="module.notifiesList"],
[air-module="module.donatesCabinet"] .l-island-bg {
	background-color: var(--tc4) !important;
}

.profile_comment_favorite {
	background-color: var(--tc4) !important;
}

.creation_button__subitems {
	background-color: var(--tc2) !important;
}

.creation_button__subitem:hover {
    background-color: var(--tc6) !important;
}







.herzen .content_editable ce-command, .restriction a, .subsite__cover__add__button:hover {
	color: var(--primary-color);
}

.herzen__command_list {
	color: #E1E1E1;
	background-color: var(--tc2);
}

.herzen__command_list__item {
	border-bottom: 1px solid var(--tc4);
}

.herzen__command_list__item--selected, .herzen__command_list__item:hover {
	background-color: var(--tc5);
}



.thesis__upload_file, .thesis__attach_video, .thesis__attach_something.attacher__button, .thesis__spy_button.thesis__attach_something {
	color: var(--primary-color) !important;
	background-color: var(--tc2) !important;
}

.thesis__attach_video:hover, .thesis__upload_file:hover, .thesis__attach_something.attacher__button:hover, .thesis__spy_button.thesis__attach_something:hover {
	background-color: var(--primary-color) !important;
	color: var(--tc4) !important;
}

.comments_pseudo_form__button {
	background-color: var(--tc2);
}

.comments_pseudo_form__button .icon--attach-link,
.comments_pseudo_form__button .icon--ui_image,
.comments_pseudo_form__button .icon--ui_rouble {
	fill: var(--primary-color);
}

.comments_pseudo_form__button:hover {
	background-color: var(--primary-color);
}

.comments_pseudo_form__button:hover .icon--attach-link,
.comments_pseudo_form__button:hover .icon--ui_image,
.comments_pseudo_form__button:hover .icon--ui_rouble {
	fill: var(--tc4);
}

.attacher--active .attacher__button {
	background-color: var(--primary-color);
	color: var(--tc4);
}

.attacher--active .attacher__form {
	background-color: var(--tc5) !important;
	box-shadow: 0 4px 8px rgba(0,0,0,0.06), inset 0 -1px 0 var(--tc4) !important;
}

.attacher__form:before {
	background-color: var(--tc5) !important;
}

.attacher__input input {
	border: 1px solid var(--tc7);
}

.v-form-range .vue-slider-rail {
	background-color: var(--tc6);
}

.v-form-range .vue-slider-mark {
	background-color: var(--tc7);
}






.ui_form input[type=email], .ui_form input[type=name], .ui_form input[type=password], .ui_form input[type=text], .input-suggestion input[type=text], .form2__inline-editor.form2__inline-editor--multiline {
	color: #e1e1e1;
    background: var(--tc1);
    border: 1px solid var(--tc5);
}

.ui_form input[type=email]:focus, .ui_form input[type=name]:focus, .ui_form input[type=password]:focus, .ui_form input[type=text]:focus, .ui_form select:focus, .ui_form textarea:focus, .input-suggestion input:focus {
	border-color: var(--tc6) !important;
}

.ui_form input[type=email]:hover, .ui_form input[type=name]:hover, .ui_form input[type=password]:hover, .ui_form input[type=text]:hover, .ui_form select:hover, .ui_form textarea:hover, .input-suggestion input:hover {
	border-color: var(--tc6) !important;
}

.input-suggestion .bubble {
	background-color: var(--tc2) !important;
}

.input-suggestion__item {
	background: var(--tc5)!important;
}

.input-suggestion__item--selected {
	background: var(--tc6)!important;
}

.ui-checkbox {
    border: 1px solid var(--tc6);
}

.ui-checkbox--disabled {
    background-color: var(--tc6);
}

.ui_select select {
	color: #e1e1e1;
	background-color: var(--tc1);
}

.ui_select:hover {
    border-color: var(--lighter-color);
}

.popup__container__window--styled .popup__container__window__tpl {
	background-color: var(--tc5) !important;
}

.popup .popup__content .line {
	background-color: var(--tc6);
}

.ui_modal_window {
	background-color: var(--tc5) !important;
}

.ui_modal_window__header--border {
    border-bottom: 1px solid var(--tc6);
}

.ui_modal_window__footer {
    border-top: 1px solid var(--tc6);
}

.ui_modal_window--get_api_token .ui_modal_window__content input {
	color: #e1e1e1;
}






.page.page--editor .header {
	background-color: var(--tc1) !important;
}

.page.page--editor .header .tab__content {
	background-color: var(--tc5);
}

.page.page--editor .header .tab__content .history .item {
	background-color: var(--tc13);
}

.miniEditor__attach, .miniEditor__actions .attachButton {
	color: var(--primary-color);
	background-color: var(--tc2);
}

.miniEditor__attach:hover, .miniEditor__actions .attachButton:hover {
	background-color: var(--primary-color);
	color: var(--tc5);
}

.miniEditor__attach:hover .icon, .miniEditor__actions .attachButton:hover .icon {
	color: var(--tc5);
	fill: var(--tc5);
}

.miniEditor__main, .miniEditor {
	background-color: var(--tc4) !important;
}

.miniEditor__title {
	background-color: transparent;
	color: #e1e1e1;
}

.miniEditor__full {
	filter: invert(1);
}

.quiz {
	background-color: var(--tc2);
}

.quiz__loader {
	background-color: var(--tc6);
}




.audio_player__control__panel {
	background-color: var(--tc4);
}

.audio_player__control__slider__time_bubble {
	background-color: var(--tc5) !important;
	color: #e1e1e1 !important;
}

.audio_player__control__slider__time_bubble:after {
	border-top-color: var(--tc5) !important;
}

.floating_player {
	background-color: var(--tc6);
}

.floating_player .audio_player--theme-compact .audio_player__control--volume .audio_player__control__panel {
	background-color: var(--tc6) !important;
}

.floating_screen_film--fixed {
	background-color: var(--tc6);
}




.subsites_catalog {
	background-color: var(--tc4);
}

.subsites_catalog_item:before {
	background-color: var(--tc6);
}

.subsites_catalog__header, .subsites_catalog__search {
	border-bottom: 1px solid var(--tc6);
}

.subsites_catalog__search__bar {
	background-color: var(--tc4);
}

.sidebar__tree-list__item--active {
	background-color: var(--tc4) !important;
}

.sidebar__tree-list__item:hover:not(.sidebar__tree-list__item--active) {
	background-color: var(--tc6) !important;
}




#notify .notify__item {
	background-color: var(--tc2);
}

.bubble {
	background-color: var(--tc2) !important;
	box-shadow: 0 0 0 3px var(--material-theme-shadow-color),
				0 6px 10px 4px var(--material-theme-shadow-color),
				0 -6px 10px 4px var(--material-theme-shadow-color) !important;
}

.bubble[arrow-alignment^="bottom"]:before, .bubble[arrow-alignment^="top"]:before {
	background-color: var(--tc2) !important;
}

.dropdown_list__item--selected, .dropdown_list__item:hover {
	background-color: var(--tc5) !important;
}

.updown:after {
    background-color: var(--tc17) !important;
}

body:not(.s42-default-scrollers) .bubble .dropdown_list,
body:not(.s42-default-scrollers) .bubble .bubble__container .list {
	scrollbar-color: var(--primary-color) var(--tc2);
	scrollbar-width: thin;
}

body:not(.s42-default-scrollers) .bubble .dropdown_list::-webkit-scrollbar,
body:not(.s42-default-scrollers) .bubble .dropdown_list::-webkit-scrollbar-track,
body:not(.s42-default-scrollers) .bubble .bubble__container .list::-webkit-scrollbar,
body:not(.s42-default-scrollers) .bubble .bubble__container .list::-webkit-scrollbar-track {
	background-color: var(--tc2) !important;
}

.bubble .bubble__container .list .item.item--selected,
.bubble .bubble__container .list .item.item--focused,
.bubble .bubble__container .list .item:hover {
	background-color: var(--tc5) !important;
}






.entry-incut, .comments__item__space--highlighted, .comments__item__space--new, .comments__item__space--pinned {
	background-color: var(--tc5) !important;
}

.comments__link_to_all {
	background-color: var(--tc5);
}




.ui_sub_menu {
	background: var(--tc5);
	box-shadow: 0 16px 24px 2px var(--material-theme-shadow-color), 0 6px 30px 5px var(--material-theme-shadow-color), 0 8px 10px -5px var(--material-theme-shadow-color);
}

.ui_sub_menu--bordered:before, .ui_sub_menu--shown .ui_sub_menu--bordered:before {
	background-color: var(--tc5)
}

.ui_sub_menu__item:hover {
    background: var(--tc6);
}

.etc_control__list {
    background-color: var(--tc5);
}

.etc_control__item:hover {
    background-color: var(--tc6);
}

.etc_control__list:before {
	background: var(--tc5);
}

.search-dropdown {
	background-color: var(--tc5) ;
}

.search-dropdown-item--focused, .search-dropdown-item--submit:hover {
	background-color: var(--tc6);
}




.gall--5 .gall__item[data-more]::after {
	background: var(--tc14);
	color: #E1E1E1;
}




.head-notifies__panel {
	background-color: var(--tc4) !important;
	box-shadow: 0 16px 24px 2px var(--material-theme-shadow-color), 0 6px 30px 5px var(--material-theme-shadow-color), 0 8px 10px -5px var(--material-theme-shadow-color);
}

.notify-new-items-label {
	background-color: var(--tc4) !important;
	border-top: 1px solid var(--tc6);
	border-bottom: 1px solid var(--tc6);
}

.notify-new-items-label:hover {
	background-color: var(--tc6) !important;
}

.u-notification--unread {
	background: var(--tc6) !important;
}

.u-notification--hover:hover {
	background: var(--tc5) !important;
}

.u-notification--border:first-of-type {
	border-top: 1px solid var(--tc6);
}

.u-notification--border {
	border-bottom: 1px solid var(--tc6);
}

body:not(.s42-default-scrollers) .head-notifies__items-wrapper {
	scrollbar-color: var(--primary-color) var(--tc4);
	scrollbar-width: thin;
}

body:not(.s42-default-scrollers) .head-notifies__items-wrapper::-webkit-scrollbar,
body:not(.s42-default-scrollers) .head-notifies__items-wrapper::-webkit-scrollbar-track {
	background-color: var(--tc4) !important;
}

.head-notifies--showed .head-notifies__toggler::after {
	border-bottom-color: var(--tc4);
}


.widget_wrapper--type-yellow,
.widget_wrapper--type-pink,
.widget_wrapper--type-red,
.widget_wrapper--type-best_comments,
.widget_wrapper--type-popular_3_entries,
.widget_wrapper--type-top_commented_entries,
.widget_wrapper--type-blue,
.block-warning,
.island.island--blogs_entries {
	background-color: var(--tc4) !important;
}

.content-image--with_background {
	background-color: var(--tc2) !important;
}

.content-image--with_border > div {
	border: 1px solid var(--tc6);
}

.block-quote--centered, .block-quote--default, .block-incut, .block-number, .block-code, .twitter-tweet,
.content--legacy .block-html blockquote {
	background-color: var(--tc4) !important;
}

.andropov_link {
    border: 2px solid var(--tc5) !important;
    color: var(--lighter-color) !important;
}

.andropov_link:hover {
    background: var(--tc5);
	border-color: var(--lighter-color) !important;
}

.andropov_preview {
	background-color: var(--tc4);
}

.andropov_video iframe, .andropov_video video {
	background-color: var(--tc2);
}






.vote--comment .vote__value {
	background-color: var(--tc4);
}

.vote--comment .vote__users,
.vote--content .vote__users {
	background-color: var(--tc4);
}

#vote_triangle path {
	fill: var(--tc4) !important;
	stroke: var(--tc4) !important;
}

.vote--comment .vote__users__item:before,
.vote--content .vote__users__item:before {
	background-color: var(--tc6);
}

.gl__container {
    background: var(--tc2);
}







.captcha_wall__box {
	background: var(--tc4);
}

























.messenger-panel__down {
	background-color: var(--tc4) !important
}

.messenger-panel__down::before {
	background-color: var(--tc4) !important
}

.messenger-panel__loader-image, .messenger-panel__loader-line-1, .messenger-panel__loader-line-2 {
	background: linear-gradient(to right, var(--tc6) 8%, var(--tc6) 38%, var(--tc6) 54%) !important;
}

.messenger-panel__down-head {
	border-bottom: 1px solid var(--tc6) !important;
}

.channel-item:hover, .channel-item--focused {
	background-color: var(--tc5) !important;
}

.channel-item__picture {
	background-color: rgba(255, 255, 255, 0.6);
}

.channel-item__info,
.messenger-panel .channel-item__info {
	border-top: 1px solid var(--tc6) !important;
}

.messenger-panel .channel-item:first-of-type .channel-item__info {
	border-top: none !important;
}

.messenger-panel__down-footer {
	border-top: 1px solid var(--tc6) !important;
}

.messenger {
	background-color: var(--tc2) !important;
}

.aside {
	border-right: 1px solid var(--tc6) !important;
}

.channel-item--current {
	background-color: var(--tc4);
}

.chat-messages__unread-label span {
	background-color: var(--tc2) !important;
}

.chat-form__textarea {
	background-color: var(--tc2) !important;
	color: #e1e1e1 !important;
}

.aside-search input {
	background-color: var(--tc2) !important;
	color: #e1e1e1 !important;
}

.chat-messages__day span {
	background-color: var(--tc6) !important;
}

.chat-bottom-actions {
	background-color: var(--tc5) !important;
}

.etc-controls__dropdown {
	background-color: var(--tc5) !important;
}

.etc-controls__dropdown::before {
	background-color: var(--tc5) !important;
}

.etc-controls__dropdownItem:hover {
	background-color: var(--tc6) !important;
}

.msngrConfirmWindow {
	background-color: var(--tc2);
}

.chat__dropdown-pointer {
	background-color: var(--tc15) !important;
}














.m-floating {
	background-color: var(--tc2) !important;
}

.m-floating__header:hover {
	background-color: var(--tc4) !important;
}
















.plus-features.layout--c, .page--plus .plus-features {
    background-color: var(--tc2);
}

.page.page--plus .ui-button.ui-button--large {
	background-color: var(--tc2) !important;
}

.page.page--plus .ui-button.ui-button--large:hover {
	background-color: var(--primary-color) !important;
}

.ui-button.ui-button--5:hover a, .ui-button.ui-button--5:focus a, .ui-button.ui-button--5:active a {
	color: var(--tc2) !important;
}

























/*
	RATING DECEMBER 2019
 */
.table__row--me {
	background-color: var(--tc2) !important;
}




























/*
	SUBSITES ADMINISTRATING
 */
.subsite_settings__form .form2__field--text .text,
.subsite_settings__form .form2__field--advanced_list .text__input,
.subsite_settings__form .form2__field--text .text input,
.subsite_settings__form .form2__inline-editor,
.subsite_settings__form .advanced_list__list {
	color: #e1e1e1;
    background: var(--tc1);
    border: 1px solid var(--tc5);
}

.subsite_settings__form .form2__field--text .text:focus,
.subsite_settings__form .form2__field--advanced_list .text__input:focus,
.subsite_settings__form .form2__field--text .text input:focus,
.subsite_settings__form .form2__inline-editor:focus,
.subsite_settings__form .advanced_list__list:focus {
	border-color: var(--tc6) !important;
}

.subsite_settings__form .form2__field--text .text:hover,
.subsite_settings__form .form2__field--advanced_list .text__input:hover,
.subsite_settings__form .form2__field--text .text input:hover,
.subsite_settings__form .form2__inline-editor:hover,
.subsite_settings__form .advanced_list__list:hover {
	border-color: var(--tc6) !important;
}

.subsite_settings__section--save-settings.layout--bg,
.subsite_settings__section--save-settings.l-island-bg {
	background-color: var(--tc4) !important;
}

.chart[air-module="module.charts"] .tg-header__type-switcher {
	background: var(--tc1);
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

.chart[air-module="module.charts"] .tg-header__type-switcher--current {
	background: var(--primary-color);
	color: var(--tc1);
}

.chart[air-module="module.charts"] .tg-grid__section {
	border-bottom: 1px solid var(--tc5);
}

.chart[air-module="module.charts"] .tg-chart--line .tg-grid__counter {
	background: var(--primary-color);
	color: var(--tc1);
}

.chart[air-module="module.charts"] .tg-minimap__left,
.chart[air-module="module.charts"] .tg-minimap__right {
	background-color: var(--tc6);
	opacity: 0.4;
}

.chart[air-module="module.charts"] .tg-tooltip {
	background-color: var(--tc4);
}

#rocket-bank-summary {
	background-color: var(--tc5);
	color: #E1E1E1;
}











/*
	DEEP BLUE EDITOR
 */
.editor__select .dropdown__found__list {
	background-color: var(--tc1);
}

.dropdown__found__item--selected, .dropdown__found__item:hover {
	background-color: var(--tc6) !important;
}

.editor__header {
	background: var(--tc2);
}

.editor__header .editor__button {
	color: var(--tc2);
}

.editor__body--unready::before {
	border: 2px solid #FFF;
	border-top-color: #000;
}

.editor .ce-block--focused {
	background: var(--tc4);
}

.editor .cdx-image--backgrounded {
	background: var(--tc5);
}

.editor__edit-mode, .hashtags_list__item__link span {
	color: #000;
}

.editor__editable {
	color: #E1E1E1;
	border-bottom: 1px dotted #888888;
}

.editor__header-select .icon {
	fill: #888888;
}

.editor .dropdown__found__item p:nth-child(2) {
	color: #888888;
}

.editor .dropdown__selected__item p:hover {
	color: var(--lighter-color);
}

.editor__author .dropdown__found__list, .editor__header-select .dropdown__found__list {
	background-color: var(--tc1);
}

.dropdown__found__list, .inline-dropdown {
	background-color: var(--tc1);
}

.editor__feedback-textarea {
	-webkit-box-shadow: 0 2px 8px 0 var(--tc16);
	box-shadow: 0 2px 8px 0 var(--tc3);
	display: none;
}

.writing-settings-section__title {
	color: #888888;
}

.writing-settings__input input {
	background: var(--tc8);
	color: var(--tc11);
}

.writing-settings .link-input {
	background-color: var(--tc10);
	color: var(--tc7);
}

.writing-settings .link-input input::-webkit-input-placeholder {
	color: var(--tc7);
}

.writing-settings .link-input input::-moz-placeholder {
	color: var(--tc7);
	opacity: 1;
}

.writing-settings .link-input input:-ms-input-placeholder {
	color: var(--tc7);
}

.writing-settings .link-input__button--protected {
	border-left: 1px solid #dedede;
}

.writing-settings .link-input__button--protected:hover {
	background-color: var(--tc9);
}

.writing-settings .link-input__domain {
	line-height: 20px;
	border-radius: 4px;
	padding: 0 7px;
	background-color: var(--tc7);
	color: #FFF;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-left: 4px;
}

.ui_modal_window__textarea {
	background: transparent;
	color: #e1e1e1 !important;
}

.ce-toolbar__tools {
    background: var(--tc1) !important;
}

.ce-toolbar__tools-item--selected, .ce-toolbar__tools-item:hover {
	background: var(--tc6) !important;
}

.ce-settings {
	background-color: var(--tc2) !important;
}

@media (min-width: 1025px) {
	.ce-settings:before {
		border-color: transparent transparent var(--tc2);
	}
	.ce-settings:after {
		border-color: transparent transparent var(--tc2);
	}
}

.ce-settings_plugin {
	border-bottom: 1px solid var(--primary-color);
}

.instagram-settings__item--toggled {
	background-color: var(--tc6) !important;	
}

.media-tool-settings__item--active, .cdx-plugin-settings__item--active, .ce-settings__remove-block-button--confirm, .ce-settings__remove-block-button--confirm:hover {
	background-color: var(--tc6) !important;
}

.cdx-plugin-settings__item:hover, .ce-settings__item:hover, .media-tool-settings__item:hover {
	background: var(--tc6) !important;
}

.ce-block .gallery .input {
	background-color: var(--tc1) !important;
}

.ce-block .media-item-zoomed__inner {
	background-color: var(--tc5) !important;
}

.ce-block .upload-button {
	background-color: var(--tc5) !important;
}

html body .ce-redactor a.andropov_link {
	border: 1px solid var(--tc6) !important;
	background-color: var(--tc2) !important;
}

.ce-block .audio-tool-title {
	background-color: var(--tc2) !important;
}

.ce-block .audio-tool-uploader {
	background-color: var(--tc2) !important;
}

.ce-block .quiz-tool-input {
	background-color: var(--tc2) !important;
}

.ce-block .code-tool {
	background-color: var(--tc1) !important;
}

.cdx-inline-toolbar {
	background-color: var(--tc2) !important;
}

.cdx-inline-toolbar__button:hover, .cdx-inline-toolbar__link-remover:hover {
	background-color: var(--tc6) !important;
}





.form2__field--image .image, .quote-tool__photo-wrapper, .cdx-input {
	background: var(--tc2);
	border: 1px solid var(--tc5) !important;
}






.authorCard {
	background-color: var(--tc4) !important;
	border: 1px solid var(--tc5) !important;
}




.tjnames__list, .tjnames__list.active,
.site-names__list, .site-names__list.active {
	background-color: var(--tc4) !important;
}






.auth-form {
	background-color: var(--tc4);
}

.push_offer__content {
	background-color: var(--tc4);
}

.push_offer__button {
	background-color: var(--tc4);
	border-color: var(--tc6);
}

.push_offer__button:hover {
	color: var(--tc4);
}

.notification {
	background-color: var(--tc4) !important;
}

.notification:hover {
	background-color: var(--tc5) !important;
}

.subsites_tune {
	background-color: var(--tc2) !important;
}

.subsites_tune__panel, .subsites_tune__header {
	background-color: var(--tc2) !important;
	border-color: var(--tc6) !important;
}








.igrozhur-sidebar {
	background-color: var(--tc1) !important;
}

.igrozhur-sidebar__button {
	background-color: var(--tc1) !important;
	border-bottom: 1px solid var(--tc6) !important;
}

.igrozhur-menu__title--active {
	background-color: var(--tc4) !important;
}

@media (min-width: 840px) {
	.igrozhur-sidebar__container {
		border-right: 4px solid var(--tc1) !important;
	}
}

.igrozhur-menu__title-progress {
	background-color: var(--tc7) !important;
}

.igrozhur-promo-popover {
	background-color: var(--tc4) !important;
}

.igrozhur-promo-popover__inner {
	background: var(--tc4) !important;
}

.igrozhur-promo-button {
	color: var(--tc4) !important;
}

.igrozhur-info-popover {
	background-color: var(--tc4) !important;
}




.igrozhur-teaser {
	background-color: var(--tc4) !important
}




.chat-info__bottom,
.chat-info__search {
	background-color: var(--tc2) !important;
}




.neural-tooltip,
.neural-tooltip::after {
	background-color: var(--tc2) !important;
}



.neural-panel__control.thesis__attach_something, .neural-panel__info, .neural-comment__button, .neural-comment__button--update {
	color: var(--primary-color);
	background-color: var(--tc2);
}

.neural-panel__control.thesis__attach_something:hover, .neural-panel__info:hover, .neural-comment__button:hover, .neural-comment__button--update:hover {
	background-color: var(--primary-color);
	color: var(--tc4);
}

.neural-comment {
	background-color: var(--tc4) !important;
}



.reposters_list {
	background-color: var(--tc4) !important;
}

.reposters_list .reposters_list__item:after {
	background-color: var(--tc6);
}

.reposters_list__item:hover {
	color: var(--tc7) !important;
}



.v-popup-window__content {
	background-color: var(--tc4);
}

.comments__item__space--with-donate {
	background-color: var(--tc13) !important;
}




.site-header {
	background-color: var(--tc2) !important;
}

.v-create-button__dropdown,
.v-split-button__dropdown {
	background-color: var(--tc2) !important;
}

.andropov_telegram, .andropov_tweet {
	border-color: var(--tc5);
}




.subsite_settings__section {
	border-color: var(--tc5);
}

.app--content-feed.app--left-column-on.app--right-column-on .subsite_settings__form .l-island-a {
	background-color: var(--tc1) !important;
	border-color: var(--tc5);
}



.ui_form select {
	color: #e1e1e1;
    background: var(--tc1);
    border: 1px solid var(--tc5);
}


.ui-rounded-button--active .ui-rounded-button__link,
.ui-dropdown__item:hover,
.ui-rounded-button__link:hover {
	background-color: var(--tc6) !important;
}





.head-notifies__footer {
	border-top: 1px solid var(--tc6);
}





.new-entries-horizon [fill-rule="evenodd"] + path[stroke-linejoin="round"] {
	stroke: var(--tc4) !important;
}










.chat-info-form__picture {
	background-color: var(--tc1) !important;
}

.chat-info__search .user {
	background-color: var(--tc5) !important;
}


.aside-placeholder__picture,
.aside-placeholder__line1,
.aside-placeholder__line2 {
	background-color: var(--tc6) !important;
}

.channel-item--muted .channel-item__unread-count {
	background-color: var(--tc6);
}

.comments__item__children {
	border-left: 1px dashed var(--tc4);
}




.emoji-picker__panel,
.emoji-picker__panel::after,
.emoji-picker__tabs {
	background-color: var(--tc5) !important;
}

.emoji-picker__panel-list-section-name {
	background-color: var(--tc5) !important;
	box-shadow: 0px 2px 5px var(--tc5) !important;
}






@media (max-width: 719px) {
	.search__field {
		background-color: var(--tc2);
	}
}







.sidebar-tree-list-item--active {
	background-color: var(--tc4) !important;
}

.sidebar-tree-list-item:hover:not(.sidebar-tree-list-item--active) {
	background-color: var(--tc2) !important;
}

.sidebar-tree-list-item__child-item:hover {
	background-color: var(--tc5) !important;
}





.live-stream {
	background-color: var(--tc6) !important;
}

.v-header-avatar {
	box-shadow: 0 0 0 var(--border-width) var(--tc5);
	background-color: var(--tc5);
}






:root {
	--primary-color--for-badge: var(--tc6);
}

.sidebar-tree-list__show-more-button.sticky-on {
	background-color: var(--tc5) !important;
}





:root {
	--current-theme-mini-actions-v-tabs-color: var(--tc2);
}





.wtf_bc--skin--bg-primary {
	background: var(--tc4) !important;
}

.wtf_bc--skin--bg-gray {
	background: var(--tc5) !important;
}





.content-stats {
	background-color: var(--tc4);
	border-bottom-color: var(--tc5);
}

.gallery-image--with-background .gallery-image__media {
	background-color: var(--tc2);
}




.island--company_entries {
	background-color: var(--tc4);
}






.subsite-details-mobile-navbar {
	background-color: var(--tc2) !important;
}






.tab__content .path__input,
.tab__content .style__input,
.tab__content .push__title,
.tab__content .push__text,
.tab__content .announcements__input .form-text-input {
	border-color: var(--tc6) !important;
}

.content-stats__list__show {
	background-color: var(--tc4);
}






.donate-attachment {
	background-color: var(--tc5);
}






.comments_form,
.comments_pseudo_form {
	border-color: var(--tc5);
}





.v-shares-popover {
	background-color: var(--tc2);
}





.andropov_uploader__preview_item__remove {
	background-color: var(--tc5);
	border-color: var(--tc6);
}

.subsite-card-entry {
	border-top-color: var(--tc2);
}

.v-table__row:not(:last-child) {
	border-bottom-color: var(--tc2);
}

.v-island__header::after {
	background-color: var(--tc2) !important;
}







.cdx-helper {
	background: var(--tc5);
}

.cdx-helper:before {
	border-color: transparent transparent var(--tc5);
}





:root {
	--s42-spfb-button-text-color: var(--tc5);
	--s42-spfb-backround-color: var(--tc5);
	--s42-spfb-box-shadow: 0 1px 4px 1px var(--tc13);
	--s42-spfb-border-color: var(--tc6);
}
