.content-feed--s42-filtered.content-feed,
.content-feed--s42-filtered.content-feed[air-module="module.entry"] {
	opacity: 0.35 !important;
	transition: opacity .4s ease-in-out 0s, box-shadow .2s ease-in-out 0s;
}

.content-feed--s42-filtered.content-feed:hover,
.content-feed--s42-filtered.content-feed[air-module="module.entry"]:hover,
.content-feed--s42-filtered.content-feed:active,
.content-feed--s42-filtered.content-feed[air-module="module.entry"]:active,
.content-feed--s42-filtered.content-feed:focus,
.content-feed--s42-filtered.content-feed[air-module="module.entry"]:focus {
	opacity: 1 !important;
}

.content-feed--s42-filtered > * {
	display: none !important;
	visibility: hidden !important;
	opacity: 0 !important;
}

.content-feed--s42-filtered > .content {
	display: block !important;
	visibility: visible !important;
	opacity: 1 !important;
}

.content-feed--s42-filtered > .content > * {
	display: none !important;
	visibility: hidden !important;
	opacity: 0 !important;
}

.content-feed--s42-filtered > .content > .content-feed__s42-message {
	display: block !important;
	visibility: visible !important;
	opacity: 1 !important;
	padding: 16px 24px;
	margin: 0 !important;
	box-sizing: border-box;
}

.content-feed__s42-message--float-right {
	float: right;
}




.comments__item__space--s42-filtered {
	opacity: 0.35 !important;
	transition: opacity .4s ease-in-out 0s, box-shadow .2s ease-in-out 0s;
}

.comments__item__space--s42-filtered:hover,
.comments__item__space--s42-filtered:active,
.comments__item__space--s42-filtered:focus {
	opacity: 1 !important;
}

.comments__item__space--s42-filtered > * {
	display: none !important;
	visibility: hidden !important;
	opacity: 0 !important;
}

.comments__item__space--s42-filtered > .comments__item__space__s42-message {
	display: block !important;
	visibility: visible !important;
	opacity: 1 !important;
	padding: 16px 24px;
	margin: 0 !important;
	box-sizing: border-box;
}

.comments__item__space--s42-filtered > .comments__item__space__s42-message > .comments__item__space__s42-message--show-button {
	text-decoration: underline;

	border: none;
	outline: none;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.comments__item__space__s42-message--float-right {
	float: right;
}