:root {
	--material-theme-gradient-color: #FFF;
	--current-theme-gradient-color-huge-tabs: #FFF;
	--current-theme-gradient-color-small-tabs: #F4F4F4;
	--current-theme-gradient-color-v-tabs: #FFF;
	--material-theme-shadow-color: rgba(0, 0, 0, 0.2);
	--switcher-layout-background: #FFF;
	--switcher-layout-text: #222;
}

:root {
	--gay-theme-flag: url('https://serguun42.ru/tampermonkey/osnova/svgs/flag.svg');
	--current-gay-theme-entry-background: rgba(255, 255, 255, 0.9);
	--gay-theme-icon-mouth: url('https://serguun42.ru/tampermonkey/osnova/svgs/mouth--color.svg');
}

.main_menu__logo {
	background-size: 100%;
	width: 34px;
	height: 34px;
	top: 8px;
	left: 0;
	position: relative;
}

.floating_screen_film__title {
	max-width: calc(100% - 60px);
}

.main_menu .menu_dropdown__current__button, .main_menu .menu_dropdown__current__link, .search_bar__button, .search_bar__doit, .main_menu__item {
	color: unset;
}

body:not(.s42-default-scrollers),
body:not(.s42-default-scrollers) * {
	scrollbar-color: var(--scroll-color) transparent;
	scrollbar-width: thin;
}

body:not(.s42-default-scrollers)::-webkit-scrollbar-track,
body:not(.s42-default-scrollers) *::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px transparent;
	background-color: transparent;
}

body:not(.s42-default-scrollers)::-webkit-scrollbar,
body:not(.s42-default-scrollers) *::-webkit-scrollbar {
	width: 12px;
	height: 12px;
	background-color: var(--scroll-color);
}

body:not(.s42-default-scrollers)::-webkit-scrollbar-thumb,
body:not(.s42-default-scrollers) *::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
	border-radius: var(--br) 0 0 var(--br);
}

.list-editable__item {
	position: relative!important;
	color: #333333!important;
}

.list-editable__item__remove {
	display: none!important;
	position: absolute!important;
	width: 20px!important;
	height: 20px!important;
	top: 7px!important;
	margin: 0!important;
	background: var(--primary-color)!important;
	color: #333333!important;
}

.list-editable__item__remove svg {
	display: block!important;
	position: relative!important;
	width: 10px!important;
	height: 10px!important;
	top: 5px!important;
	left: 5px!important;
}

.list-editable__item img {
	transition: opacity 200ms linear 0ms;
}

.list-editable__item:hover .list-editable__item__remove, .list-editable__item:active .list-editable__item__remove, .list-editable__item:focus .list-editable__item__remove {
	display: block!important;
}

.list-editable__item:hover img, .list-editable__item:active img, .list-editable__item:focus img {
	opacity: 0!important;
}

.input-suggestion .bubble {
	overflow: hidden;
	width: unset!important;
	min-width: 200px!important;
}

.input-suggestion .bubble__container {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 180px;
}

.input-suggestion__list {
	overflow: hidden;
}

.input-suggestion__item span {
	padding-right: 8px!important;
}

.sidebar {
	border-right: none !important;
}

.live {
	border-left: none !important;
}

.feed_header {
	background: transparent !important;
	border-bottom: none !important;
}

.content-header-label {
	line-height: 1em;
    padding: 4px;
	user-select: none;
}

.content-editorial-tick {
	z-index: 2 !important;
}

.block-quote--centered .block-quote__content .icon, .block-quote--opinion .block-quote__content .icon {
	display: block;
}






.feed__item:hover,
.content-feed:hover .content-footer  {
	z-index: 3;
}

.feed__item:hover .quiz,
.feed__item .quiz:hover {
	z-index: 4;
}

.vote--comment .vote__users,
.vote--content .vote__users {
	z-index: 6;
}

.vote--comment .vote__users__item:before {
	width: calc(66% + 10px);
}

.widget_wrapper .etc_control {
	display: none;
}

.blogs_entries .etc_control {
	display: none;
}































/* Beautiful buttons */

.ui-button--9 {
	background-color: transparent;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

.ui-button--9.ui-button--hovered, .ui-button--9:hover, .ui-button--9:active {
	background-color: var(--primary-color);
	color: #fff;
}

.ui-button--subscribed svg, .ui-button--unsubscribe svg, .subsite_subscribe_button__notifications svg {
	fill: var(--primary-color) !important;
}

.ui-button--subscribed:hover, .ui-button--unsubscribe:hover, .subsite_subscribe_button__notifications:hover {
	color: #FFF !important;
}

.ui-button--subscribed:hover svg, .ui-button--unsubscribe:hover svg, .subsite_subscribe_button__notifications:hover svg {
	fill: #FFF !important;
}

.ui-button.ui-button--5 a {
	border-bottom: none !important;
	color: var(--primary-color);
}

.ui-button.ui-button--5:hover a, .ui-button.ui-button--5:focus a, .ui-button.ui-button--5:active a {
	color: #FFF;
}

.page--subsite .subsite__user__buttons--logout {
	background-color: transparent;
	border: 1px solid var(--primary-color);
}

.page--subsite .subsite__user__buttons--logout .icon {
	fill: var(--primary-color);
}

.page--subsite .subsite__user__buttons--logout:hover, .page--subsite .subsite__user__buttons--logout:active {
	background-color: var(--primary-color);
}

.page--subsite .subsite__user__buttons--logout:hover .icon, .page--subsite .subsite__user__buttons--logout:active .icon {
	fill: #fff;
}

.page--subsite .paid_account__number {
	background-color: transparent;
	color: var(--primary-color);
	border-radius: 4px;
	border: 1px solid var(--primary-color);
	background-image: unset;
}

.ui-button--1, .comments__item__more--root, .comments__item__more--root--5, .ui-button--5, .header__content .ui-button.ui-button--6 {
	background-color: transparent!important;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

.ui-button--only-icon.ui-button--5 svg {
	fill: var(--primary-color) !important;
}

.ui-button--only-icon.ui-button--5:hover svg,
.ui-button--only-icon.ui-button--5:focus svg,
.ui-button--only-icon.ui-button--5:active svg {
	fill: #FFF !important;
}

.ui-button--1:hover, .comments__item__more--root:hover, .comments__item__more--root--5:hover, .ui-button--5:hover, .ui-button--1:active, .comments__item__more--root:active, .comments__item__more--root--5:active, .ui-button--5:active, .ui-button--1:focus, .comments__item__more--root:focus, .comments__item__more--root--5:focus, .ui-button--5:focus {
	background-color: var(--primary-color)!important;
	color: #fff;
}

.ui-tabs--overflown:after {
	background-image: linear-gradient(90deg, rgba(51, 51, 51, 0) 0%, var(--current-theme-gradient-color-huge-tabs) 40%);
}

.ui-tabs--overflown:before {
	background-image: linear-gradient(-90deg, rgba(51, 51, 51, 0) 0%, var(--current-theme-gradient-color-huge-tabs) 40%);
}

.ui-tabs--small.ui-tabs--overflown:after {
	background-image: linear-gradient(90deg, rgba(51, 51, 51, 0) 0%, var(--current-theme-gradient-color-small-tabs) 40%);
}

.ui-tabs--small.ui-tabs--overflown:before {
	background-image: linear-gradient(90deg, rgba(51, 51, 51, 0) 0%, var(--current-theme-gradient-color-small-tabs) 40%);
}



































.mgts-st {
	display: none !important;
}




/*
	DROPDOWN MENU FIX
 */

.feed_header {
	z-index: 9999;
}

.navigationDropdown__menu.navigationDropdown__menu--shown {
	z-index: 9999;
}




/*
	TJ PLUS Jan 2020
 */
.page.page--plus .ui-button.ui-button--large {
	background-color: #FFF !important;
}

.page.page--plus .ui-button.ui-button--large:hover {
	background-color: var(--primary-color)!important;
}






/*
	BUSINESS PAGE APR 2020
 */

.main_menu__title a[href="/about"] {
	display: none;
}

.main_menu__right-side .main_menu__inject {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: nowrap;
}

.main_menu__right-side .main_menu__inject a {
	white-space: nowrap;
	line-height: 30px;
}

.b-form__unit_preview {
	background-color: transparent !important;
}

.wrapper.daily-promo-form__center {
	color: #333 !important;
}

.daily-promo-form a.daily-promo-form__header__link {
	color: var(--primary-color);
	border-bottom: 1px solid var(--primary-color);
}

.b-form__content .input-select,
.b-form__content .input-select__options {
	color: #333 !important;
}




.sidebar__tree-list__item__name {
	line-height: 1.35em !important;
}




#qr-btn {
	display: inline-block;
	position: relative;
	width: 42px;
	height: 50px;
	padding: 12px 8px;
	box-sizing: border-box;

	transition: opacity .2s ease-in-out 0s;

	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;

	border: none;
	outline: none;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

#qr-btn:hover {
	opacity: 0.5;
}

#qr-notif {
	display: block;
	position: fixed;
	top: 66px;
	right: 16px;
}

#qr-text {
	padding: 16px;
	
	
	font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 500;
	font-size: 15px;
	line-height: 1em;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-transform: uppercase;

	border-bottom: none !important;
}



@-moz-document url-prefix() {
	.comments__item__content {
		max-width: 100%;
	}
}

#s42-404-error-cached-post-button {
	z-index: 999;
}

.ui-splash,
.donate-display[air-module="module.donateDisplay"] .ui-splash {
	display: none;
	visibility: hidden;
	opacity: 0;
}




.v-tab--active .v-tab__label::after {
	background-color: var(--primary-color);
}


.v-header__tabs .v-tabs--overflown::after {
	background-image: linear-gradient(90deg, rgba(51, 51, 51, 0) 0%, var(--current-theme-gradient-color-v-tabs) 40%);
}

.v-header__tabs .v-tabs--overflown::before {
	background-image: linear-gradient(-90deg, rgba(51, 51, 51, 0) 0%, var(--current-theme-gradient-color-v-tabs) 40%);
}


.ui-rounded-button__indicator {
	background-color: var(--primary-color);
}




.vb-content {
	padding-right: 12px !important;
}

body.s42-default-scrollers .vb-content::-webkit-scrollbar-track,
body:not(.s42-default-scrollers) .vb-content::-webkit-scrollbar-track {
	-webkit-box-shadow: none !important;
	background-color: transparent !important;
	opacity: 0 !important;
}

body.s42-default-scrollers .vb-content::-webkit-scrollbar,
body:not(.s42-default-scrollers) .vb-content::-webkit-scrollbar {
	width: 0 !important;
	background-color: transparent !important;
	opacity: 0 !important;
}

body.s42-default-scrollers .vb-content::-webkit-scrollbar-thumb,
body:not(.s42-default-scrollers) .vb-content::-webkit-scrollbar-thumb {
	background-color: transparent !important;
	border-radius: 0 !important;
}

.vb > .vb-dragger > .vb-dragger-styler {
	background-color: var(--primary-color) !important;
}



.v-header__tabs .v-tabs--overflown::after {
	background-image: linear-gradient(90deg, rgba(51, 51, 51, 0) 0%, var(--current-theme-gradient-color-v-tabs) 40%);
}

.v-header__tabs .v-tabs--overflown::before {
	background-image: linear-gradient(-90deg, rgba(51, 51, 51, 0) 0%, var(--current-theme-gradient-color-v-tabs) 40%);
}

.page.page--index .ui-tabs--overflown:after {
	background-image: linear-gradient(90deg, rgba(51, 51, 51, 0) 0%, var(--current-theme-gradient-color-v-tabs) 40%);
}

.page.page--index .ui-tabs--overflown:before {
	background-image: linear-gradient(-90deg, rgba(51, 51, 51, 0) 0%, var(--current-theme-gradient-color-v-tabs) 40%);
}

.ui-tab--active .ui-tab__label:after {
	background-color: var(--lighter-color);
}




.comment-unspy-button.is-active,
.comment-unspy-button.is-active .material-icons {
	color: var(--primary-color) !important;
}





.l-island-c.block-html img {
	display: block;
	position: relative;
	max-width: 100%;
}





.messenger .aside__header-button svg g path,
.messenger .chat__header-back svg g path {
	fill: #333 !important;
	color: #333 !important;
}

.messenger .aside__header-button:hover svg g path,
.messenger .chat__header-back:hover svg g path {
	fill: var(--primary-color) !important;
	color: var(--primary-color) !important;
}

.chat-info__contacts .add-members {
	color: var(--primary-color);
}

.chat-info__contacts .add-members__icon {
	background-color: var(--primary-color--faded26);
}

.messenger .aside__button {
	color: var(--primary-color) !important;
}

.messenger .aside__button svg g path {
	fill: var(--primary-color) !important;
	color: var(--primary-color) !important;
}

.channel-item__unread-count {
	background-color: var(--primary-color);
}






.emoji-picker__invoker:hover {
	color: var(--lighter-color) !important;
}

.emoji-picker__tabs span.active {
	color: var(--lighter-color) !important;
	opacity: 0.7;
}

.emoji-picker__tabs span:hover,
.emoji-picker__tabs span:active,
.emoji-picker__tabs span:focus {
	color: var(--lighter-color) !important;
	opacity: 1;
}






#s42-feed-link-new-entries-badge {
	display: inline;
	position: relative;

	margin: 0 0 0 auto;
	padding: 2px 8px;

	font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 1em;
	white-space: nowrap;

	border-radius: 8px;
	background-color: var(--primary-color--for-badge);
	color: #FFF;
}

#s42-feed-link-new-entries-badge.is-hidden {
	display: none;
}

#s42-feed-link-new-entries-badge.is-hidden-by-user {
	display: none;
}

#s42-editorial-link-btn .icon.icon--ui_check,
.sidebar-tree-list-item__link[href="/editorial"] .icon.icon--ui_check {
	width: 14px !important;
	padding: 0 5px !important;
}

.sidebar-tree-list-item__child-item--with-badge::after {
	background-color: var(--primary-color--for-badge) !important;
}

.s42-has-counter .sidebar-tree-list-item__child-item--with-badge::after {
	content: none !important;
	background-color: transparent !important;
}

.sidebar-tree-list-item__name {
	line-height: 1.4em;
}

.sidebar-tree-list-item__child-item.sidebar-tree-list-item__child-item--active::before {
	background-color: var(--lighter-color) !important;
}

.sidebar-tree-list-item:first-of-type .sidebar-tree-list-item__link:not(:only-child):hover {
	background-color: #EAEAEA !important;
	border-radius: 8px 0 0 8px;
}






.entry_stub {
	margin-bottom: 20px;
}

@media (min-width: 640px) {
	.entry_stub {
		margin-bottom: 28px;
	}
}



.content-feed[air-module="module.entry"] .content__thanks,
.content-feed[air-module="module.entry"] .content__updating {
	margin: 8px 0 12px;
}





.v-split-button__select::before,
.v-split-button__select:hover {
	background-color: var(--primary-color--faded26);
}

.v-split-button__main:hover {
	background-color: var(--primary-color--faded26);
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.v-split-button__main:only-child:hover {
	border-radius: var(--border-radius);
}

.v-split-button--selecting .v-split-button__select {
	background-color: var(--primary-color--faded50);
}

.v-split-button-option:hover {
	background-color: var(--primary-color--faded26);
}

.site-header-user-profile__toggle:hover {
	opacity: 1;
	color: var(--primary-color);
}

.v-split-button__dropdown:hover {
	overflow: hidden;
}

#ui_diamond path {
	fill: var(--primary-color) !important;
}

#ui_briefcase path,
#ui_flag2 path {
	stroke: var(--primary-color) !important;
}


.v-button.v-button--default:hover {
	background-color: var(--primary-color--faded26);
}

.page.page--editor .v-button.v-button--blue:hover,
.editor .v-button.v-button--blue:hover,
.v-header__actions .v-button--blue:hover,
.v-header-actions--mini .v-button--blue:hover {
	background-color: var(--primary-color--faded26);
	color: #000;
}

.__vcbf__popup-preloader,
.__vcbf__popup-header,
.__vcbf__popup-content {
	padding: 12px 16px;
}





/* Kekw blocking script */

#dataheadBlock {
	left: -30px;
}

#custom-data-container + #dataheadBlock {
	left: -64px;
}

#blockListId {
	margin: 8px;
}

._kekw_dtf_block_user .v-button__label {
	margin-top: 2px;
	margin-bottom: unset;
}





.ce-block--focused,
.ce-block--focused .ce-block__content {
	z-index: 999;
}








.editor-subsite-select__current:hover,
.editor-cp-tab__label:hover {
	color: var(--primary-color);
}
