/*
	JAN 2020
	COVFEFE   THEME
	@serguun42
 */

@import url("osnova_colored_base.css");

:root {
	--tc1: #1D1313;
	--tc2: #301F1F;
	--tc3: #3117101a;
	--tc4: #3B2626;
	--tc5: #4B3131;
	--tc6: #723E3E;
	--tc7: #ad8585;
	--tc8: #f3eff3;
	--tc9: #f6f4f4;
	--tc10: #f8f7f7;
	--tc11: #907990;
	--tc12: rgba(48, 22, 22, 0.3);
	--tc13: rgba(221, 120, 120, 0.3);
	--tc14: rgba(114, 62, 62, 0.25);
	--tc15: rgba(48, 31, 31, 0.8);
	--tc16: rgba(49, 23, 16, .1);
	--tc17: rgba(75, 49, 49, 0.95);
}
