/**
 * Beautiful Feed Posts
 * @serguun42
 * Nov 2020
 */

.vote--content.vote--voted-positive .vote__button--plus:before,
.vote--content.vote--voted-negative .vote__button--minus:before,
.vote--content .vote__button--plus:hover:before,
.vote--content .vote__button--minus:hover:before {
	background-color: transparent;
	display: none;
}

.vote--content .vote__button:hover {
	--color-background: transparent;
}

.vote--content.vote--voted-positive .vote__button--plus:hover,
.vote--content.vote--voted-negative .vote__button--minus:hover,
.vote--content.vote--voted-positive .vote__button--plus,
.vote--content.vote--voted-negative .vote__button--minus {
	background-color: transparent;
}