/**
 * Gray vote signs
 * @serguun42
 * Mar 2021
 */

:root .s42-is-dark {
	--gray-signs-primary-color: #999999;
	--gray-signs-primary-background-color: #99999933;
	--gray-signs-accent-color: #CCCCCC;
	--gray-signs-hover-color: #EEEEEE;
}

:root body:not(.s42-is-dark) {
	--gray-signs-primary-color: #666666;
	--gray-signs-primary-background-color: #66666633;
	--gray-signs-accent-color: #444444;
	--gray-signs-hover-color: #222222;
}

.vote--sum-positive .vote__value,
.vote--sum-negative .vote__value,
.vote--comment.vote--sum-positive .vote__value .vote__value__v {
	color: var(--gray-signs-primary-color) !important;
}

.vote__button--minus .icon,
.vote__button--plus .icon {
	fill: var(--gray-signs-primary-color) !important;
}

.vote--voted-positive .vote__button--plus,
.vote--voted-positive .vote__button--minus,
.vote--voted-negative .vote__button--plus,
.vote--voted-negative .vote__button--minus {
	color: var(--gray-signs-accent-color) !important;
}

.vote--voted-negative .vote__button--minus .icon,
.vote--voted-positive .vote__button--plus .icon {
	fill: var(--gray-signs-accent-color) !important;
}

.vote .vote__button--minus:hover,
.vote .vote__button--plus:hover,
.vote--voted-positive .vote__button--plus:hover,
.vote--voted-positive .vote__button--minus:hover,
.vote--voted-negative .vote__button--plus:hover,
.vote--voted-negative .vote__button--minus:hover,
.vote .vote__button--plus:hover .icon,
.vote .vote__button--minus:hover .icon,
.vote--sum-positive .vote__value:hover,
.vote--sum-negative .vote__value:hover,
.vote--voted-negative .vote__button--minus:hover .icon,
.vote--voted-positive .vote__button--plus:hover .icon {
	color: var(--gray-signs-hover-color) !important;
	fill: var(--gray-signs-hover-color) !important;
}

.vote--comment.vote--sum-positive .vote__value,
.vote--comment.vote--sum-negative .vote__value,
.profile_comment_favorite .vote--sum-positive .vote__value,
.profile_comment_favorite .vote--sum-negative .vote__value {
	color: var(--gray-signs-primary-color);
	background: var(--gray-signs-primary-background-color);
}

.__vcbf__popup-header_karma--positive,
.__vcbf__popup-header_karma--negative {
	color: var(--gray-signs-primary-color);
	background: var(--gray-signs-primary-background-color);
}
