.editor__actions {
	-ms-flex-order: 0 !important;
	order: 0 !important;
}

.editor__authors {
	margin-top: 0 !important;
}

.editor-cp-tab__content {
	top: 50px !important;
	top: var(--height) !important;
	bottom: unset !important;
}
