:root {
	--primary-color: #E8A427;
	--primary-color--faded: #E8A427AA;
	--primary-color--faded26: #E8A42742;
	--primary-color--faded50: #E8A42780;
	--lighter-color: #FFB900;
	--scroll-color: #FFF4E2;
	--logo-img-data: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iMTA1IiB2aWV3Qm94PSIwIDAgMTAwIDEwNSI+ICA8ZyBmaWxsPSIjRkZCOTAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICA8cG9seWdvbiBwb2ludHM9IjAgNzkuMTY3IDMwLjQxNyA3OS4xNjcgMzUuNDE3IDEwNC4xNjcgMCAxMDQuMTY3Ii8+ICAgIDxwb2x5Z29uIHBvaW50cz0iMCAyOS4xNjcgMzUuNDE3IDI5LjE2NyAzNS40MTcgMTA0LjE2NyA2Mi41IDc5LjE2NyA2Mi41IDI5LjE2NyAxMDAgMjkuMTY3IDEwMCAwIDAgMCIvPiAgPC9nPjwvc3ZnPg==);
}

:root {
	--current-platform-icon-mouth: url('https://serguun42.ru/tampermonkey/osnova/svgs/mouth--color-tj.svg');
}