:root {
	--primary-color: #E25A76;
	--primary-color--faded: rgba(226, 90, 118, 0.667);
	--primary-color--faded26: rgba(226, 90, 118, 0.26);
	--primary-color--faded50: rgba(226, 90, 118, 0.5);
	--lighter-color: #F7C4CE;
	--scroll-color: #FEEBEF;
	--primary-color--for-badge: #E25A76;
}

:root {
	--current-platform-icon-mouth: url('https://serguun42.ru/tampermonkey/osnova/svgs/mouth--color-vc.svg');
}
