/**
 * Turn Favourites Icon into Red Color
 * @serguun42
 * Nov 2020
 */

:root {
	--bookmark-sign-color: #e84755;
}

.favorite_marker--active .favorite_marker__count,
.v-etc-controls-container .popover .icon--v_bookmark_solid {
	color: var(--bookmark-sign-color);
}

.favorite_marker--active .icon {
	fill: var(--bookmark-sign-color);
	stroke: var(--bookmark-sign-color);
}

.favorite_marker--active .favorite_marker__title {
	color: var(--bookmark-sign-color);
}

.favorite_marker:hover:not(.favorite_marker--just_clicked) .favorite_marker__count,
.favorite_marker:hover:not(.favorite_marker--just_clicked) .favorite_marker__title {
	color: var(--bookmark-sign-color);
}

.favorite_marker:hover:not(.favorite_marker--just_clicked) .icon {
	fill: var(--bookmark-sign-color);
	stroke: var(--bookmark-sign-color);
}

.bookmark--active .icon {
	fill: var(--bookmark-sign-color) !important;
}

.bookmark--active .bookmark__title {
	color: var(--bookmark-sign-color) !important;
}

.bookmark:hover .bookmark__title {
	color: var(--bookmark-sign-color) !important;
}

.bookmark:hover .icon {
	fill: var(--bookmark-sign-color) !important;
}

.v-popover-container .popover .icon--v_bookmark_solid {
	color: var(--bookmark-sign-color);
}

.bookmark {
	position: relative;
}

.bookmark:before {
	--bg-color: var(--bookmark-sign-color) !important;
}
