/**
 * Hide likes everywhere
 * @serguun42
 * Jul 2021
 */

.vote,
.vote--comment,
.site-header__item .v-split-button,
.comments_form,
.comments_pseudo_form {
	display: none;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
