/**
 * Better styles for bookmarks counter
 * @serguun42
 * Dec 2022
 */

.bookmark {
	position: relative;
}

.bookmark--s42-with-marker:before,
.l-entry .bookmark:before {
	top: -4px !important;
	left: -4px !important;
	border-radius: 14px !important;
}

.bookmark .bookmark__title {
	line-height: 20px;
}
