/* ==UserStyle==
@name           Snow
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Снег идёт
@author         Neko Natum
==/UserStyle== */

.live,
.sidebar,
.sidebar-tree-list__show-more-button {
  background-color: transparent !important;
}

body, .main {
  background-image: url("https://leonardo.osnova.io/5b271ae9-265c-514d-906b-5f41352195df"),
    url("https://leonardo.osnova.io/b88d8f54-7d8d-56c3-8ece-35f39026a92d"),
    url("https://leonardo.osnova.io/da5405da-6951-50d5-926d-b1ba038b55c7") !important;
  animation: snow 20s linear infinite;
}

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

@-moz-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

@-webkit-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-color: #d9f5ff;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
    background-color: #d9f5ff;
  }
}
