/**
 * Turn Favourites Icon into Red Color
 * @serguun42
 * Nov 2020
 */

.favorite_marker--active .favorite_marker__count,
.v-etc-controls-container .popover .icon--v_bookmark_solid {
	color: #E84755;
}

.favorite_marker--active .icon {
	fill: #E84755;
	stroke: #E84755;
}

.favorite_marker--active .favorite_marker__title {
	color: #E84755;
}

.favorite_marker:hover:not(.favorite_marker--just_clicked) .favorite_marker__count, .favorite_marker:hover:not(.favorite_marker--just_clicked) .favorite_marker__title {
	color: #E84755;
}

.favorite_marker:hover:not(.favorite_marker--just_clicked) .icon {
	fill: #E84755;
	stroke: #E84755;
}

.bookmark--active .icon {
	fill: #E84755 !important;
}

.bookmark--active .bookmark__title {
	color: #E84755 !important;
}

.bookmark:hover .bookmark__title {
	color: #E84755 !important;
}

.bookmark:hover .icon {
	fill: #E84755 !important;
}
