/*
 * Old layout for editor
 * @serguun42
 * Mar 2021
 * Completely (like, from 0) rebuilt Apr 2022
 */

@media (min-width: 1025px) {
	.writing {
		--footer-height: 
	}
	
	.writing__actions,
	.writing__footer {
		height: 50px;
		padding-top: 20px;
		order: 0 !important;
	}

	.writing__actions .editor-cp,
	.writing__footer .editor-cp {
		height: unset !important;
	}

	.editor-cp-tab__content {
		top: unset !important;
		bottom: unset !important;
	}

	.writing__authors {
		margin-top: 0 !important;
	}
}
