/**
 * TJournal extra
 * @serguun42
 * Jul 2019
 */

:root {
	--primary-color: #E8A427;
	--primary-color--faded: rgba(232, 164, 39, 0.667);
	--primary-color--faded26: rgba(232, 164, 39, 0.26);
	--primary-color--faded50: rgba(232, 164, 39, 0.5);
	--lighter-color: #FFB900;
	--scroll-color: #FFF4E2;
	--primary-color--for-badge: #E8A427;
}

:root {
	--switchers-color: var(--primary-color);
	--switchers-background-color: var(--primary-color--faded26);
}
